.site-header{
    padding-top: 20px;
    padding-bottom: 20px;
    @media screen and (min-width: 330px){
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    @media screen and (min-width: 600px){
        align-items: center;
    }
}

.site-header__navigation{
    display: none;
    @media screen and (min-width: 330px){
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    @media screen and (min-width: 600px){
        align-items: center;
    }
}

.site-header__logo{
    width: 100px;
    height: 100px;
    filter: grayscale(1)
}

.site-header__nav-link{
    text-decoration: none;
    margin-right: 25px;
    display: inline-block;
    &:hover{
        text-decoration: underline
    }
    @media screen and (min-width: 800px){
        margin-top: 0px;
    }
    &.site-header__nav-link--desktop-only{
        display: none;
        @media screen and (min-width: 800px){
            display: block;
        }
    }
}