@import '../vars';

.search{
    position: relative;
}

.search__submit{
    background: none;
    border: none;
    cursor: pointer;
}

.search__icon{
    height: 17px;
    transform: translateY(2px)
}