@import '../vars';

.service-card{
    background: white;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    overflow: hidden;
    margin-bottom: 20px;
}

.service-card__body{
    padding: 15px;
}

.service-card__category{
    text-transform: uppercase;
    font-size: 0.9em;
    color: $blue2;
    font-weight: bold;
    margin-bottom: 5px;
}

.service-card__title{
    margin-bottom: 5px;
}

.service-card__description{
    font-size: 0.95em;
}

.service-card__footer{
    // padding: 10px;
    background-color: $blue5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service-card__call-to-action{
    background: $green;
    display: block;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.service-card__arrow-icon{
    height: 12px;
    margin-left: 10px;
}

.service-card__save{
    background: none;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
}