@import '../vars';

.checkbox__label{
    background: $blue4;
    color: $blue1;
    cursor: pointer;
    display: block;
    border-radius: 100px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px;
    transition: 0.1s ease-out;
}

.checkbox__input{
    display: none;
    &:checked + .checkbox__label{
        color: white;
        background: $blue1;
    }
}