.popular-pages__title{
    color: white;
    margin-bottom: 10px;
}

.popular-pages__list{
    list-style-type: none;
}

.popular-pages__item{
    margin-bottom: 10px;
}

.popular-pages__link{
    color: white;
    &:hover{
        text-decoration: none;
    }
}