.popular-pages__title{
    color: white;
    margin-bottom: 10px;
    @media screen and (min-width: 600px){
        font-size: 1.3em;
    }
    @media screen and (min-width: 800px){
        font-size: 1.5em;
    }
}

.popular-pages__list{
    list-style-type: none;
    @media screen and (min-width: 800px){
        font-size: 1.1em;
    }
}

.popular-pages__item{
    margin-bottom: 10px;
}

.popular-pages__link{
    color: white;
    &:hover{
        text-decoration: none;
    }
}