
@import '../vars';

$sidewaysPadding: 20px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: $blue1;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding-left: $sidewaysPadding;
    padding-right: $sidewaysPadding;
}

.visually-hidden{
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.section-title{
    font-size: 1.7em;
    margin-bottom: 30px;
    @media screen and (min-width: 600px){
        font-size: 2.2em;
    }
    @media screen and (min-width: 800px){
        font-size: 2.8em;
    }
}