
@import '../vars';

.links{
    padding-top: 30px;
}


.links__title{
    margin-bottom: 15px;
    &.links__title--external{
        margin-bottom: 5px;
    }
}

.links__lede{
    font-size: 1.1em;
    margin-bottom: 25px;
}

.link-tile{
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    overflow: hidden;
    margin-bottom: 20px;
    text-decoration: none;
    transition: 0.1s ease-in-out;
    position: relative;
    &:hover{
        .link-tile__title{
            color: lighten($blue1, 10);
        }
        .link-tile__call-to-action{
            background: lighten($blue1, 10);
        }
    }
}

.links__list{
    @media screen and (min-width: 700px){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }
    @media screen and (min-width: 900px){
        grid-column-gap: 25px;
    }
}

.link-tile__image{
    width: 100%;
    @supports(object-fit: cover){
        object-fit: cover;
        height: 150px;
    }
}

.link-tile__title{
    margin: 20px 20px 10px 20px;
    @media screen and (min-width: 700px){
        margin: 20px 25px 10px 25px;
    }
}

.link-tile__summary{
    margin: 0px 20px 20px 20px;
    font-size: 0.9em;
    flex: 1;
    @media screen and (min-width: 700px){
        margin: 0px 25px 25px 25px;
        font-size: 1em;
    }
}

.link-tile__call-to-action{
    background: $blue1;
    padding: 12px 20px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    transition: 0.1s ease-in-out;
    @media screen and (min-width: 700px){
        padding: 15px 25px;
        font-size: 1em;
    }
}
