
$blue1: #2B292D;
$blue2: #929095;
$blue3: #C9CCD1;
$blue4: #E0E3E8;
$blue5: #F2F5F9;

// For action bars on cards
$accentBlue: #EEF3F9;

$yellow: #F8CF61;
$orange: rgb(236, 170, 46);
$green: #70B7A1;

@mixin richText{
    p{
        margin-bottom: 25px;
        line-height: 1.6em;
    }
    ol, ul{
        margin-bottom: 20px;
        padding-left: 20px;
    }
    li{
        padding-left: 15px;
        margin-bottom: 5px;
    }
    h2, h3, h4, h5, h6{
        margin-bottom: 10px;
    }
    h2{
        font-size: 1.6em;
    }
    h3{
        font-size: 1.4em;
    }
    a{
        font-weight: bold;
        text-decoration: none;
        background-size: 1px 1em;
        box-shadow: inset 0 -0.05em $blue5, inset 0 -0.2em $yellow;
        // display: inline;
        transition: 0.3s ease-out;
        &:hover{
            box-shadow: inset 0 -0.05em $blue5, inset 0 -0.2em $orange;
        }
    }
}