@import '../vars';

.life-events{
    position: relative;
    background: $blue5;
    margin-top: -50px;
    padding-top: 90px;
    padding-bottom: 40px;
    @media screen and (min-width: 600px){
        padding-top: 110px;
        padding-bottom: 60px;
        &:after{
            content: "";
            display: block;
            clear: both;
            @supports (display: grid) {
                content: none
            }
        }
    }
}

.life-events__triangle{
    // border: 1px solid red;
    width: 100%;
    height: 100px;
    top: -100px;
    position: absolute;

}

.life-events__list{
    list-style: none;
    @media screen and (min-width: 600px){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
    }
    @media screen and (min-width: 800px){
        grid-column-gap: 60px;
    }
}

.life-events__item{
    margin-bottom: 25px;
    @media screen and (min-width: 600px){
        margin-bottom: 30px;
        // IE fallback layout
        float: left;
        width: 40%;
        margin-right: 10%;
        @supports (display: grid) {
            float: none;
            width: 100%;
            margin-right: 0;
        }
    }
    @media screen and (min-width: 800px){
        margin-bottom: 40px;
    }
}

.life-events__link{
    text-decoration: none;
    &:hover .life-events__title{
        box-shadow: inset 0 -0.03em $blue5, inset 0 -0.18em $orange;
    }
}

.life-events__title{
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3em;
    background-size: 1px 1em;
    box-shadow: inset 0 -0.03em $blue5, inset 0 -0.18em $yellow;
    transition: 0.3s ease-out;
    display: inline;

    @media screen and (min-width: 600px){
        font-size: 1.5em;
    }
}

.life-events__summary{
    margin-top: 3px;
    display: block;
    @media screen and (min-width: 600px){
        margin-top: 5px;
        font-size: 1.1em;
    }
}