@import '../vars';

.financial-checker{
    background: $blue3;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.financial-checker__title{
    margin-bottom: 15px;
    &.financial-checker__title--centred{
        text-align: center;
        margin-bottom: 5px;
    }
}

.financial-checker__lede{
    margin-bottom: 10px;
    &.financial-checker__lede--centred{
        text-align: center;
    }
}

.financial-checker__help-list{
    margin-left: 20px;
    margin-bottom: 20px;
    li{
        padding-left: 10px;
        margin-bottom: 5px;
    }
}

.financial-checker__button{
    display: block;
    width: 100%;
    font-size: 1em;
    border: none;
    border-radius: 100px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    background: $blue1;
    color: white;
    transition: 0.1s ease-out;
    cursor: pointer;
    &:hover{
        background-color: lighten($blue1, 10);
    }
    &.financial-checker__button--inverted{
        color: $blue1;
        background: white;
        &:hover{
            background-color: $blue5;
        }
    }
}