.footer{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 0.95em;

    a:hover{
        text-decoration: none;
    }
}

.footer__text{
    font-size: 0.95em;
    margin-bottom: 15px;
}

.footer__menu{
    list-style: none;
}

.footer__menu-item{
    font-size: 0.95em;
    display: inline-block;
    margin-right: 15px;
}